
.icon-designtool-button-default {
    background-image: url(icon/default.gif) !important;
}

.icon-designtool-add {
    background-image: url(icon/add.png) !important;
}

.icon-designtool-save {
    background-image: url(icon/save.png) !important;
}

.icon-designtool-up {
    background-image: url(icon/up.gif) !important;
}

.icon-designtool-down {
    background-image: url(icon/down.gif) !important;
}

.icon-designtool-delete {
    background-image: url(icon/delete.gif) !important;
}

.icon-designtool-refresh {
    background-image: url(icon/refresh.png) !important;
}

.icon-designtool-copy {
    background-image: url(icon/copy.png) !important;
}

.icon-designtool-edit {
    background-image: url(icon/edit.png) !important;
}

.icon-designtool-paste {
    background-image: url(icon/paste.gif) !important;
}

.icon-designtool-search {
    background-image: url(icon/search.png) !important;
}

.icon-designtool-json {
    background-image: url(icon/json.png) !important;
}

.icon-designtool-import {
    background-image: url(icon/import.gif) !important;
}

.icon-designtool-export {
    background-image: url(icon/export.png) !important;
}

.icon-designtool-explorerwin {
    background-image: url(icon/explorerwin.gif) !important;
}

.icon-designtool-attributewin {
    background-image: url(icon/attributewin.png) !important;
}

.icon-designtool-attribute {
    background-image: url(icon/attribute.gif) !important;
}

.icon-designtool-open {
    background-image: url(icon/open.gif) !important;
}

.icon-designtool-return {
    background-image: url(icon/return.gif) !important;
}

.icon-designtool-modulefunction {
    background-image: url(icon/modulefunction.gif) !important;
}

.icon-designtool-help {
    background-image: url(icon/book24.png) !important;
}

.icon-designtool-exit {
    background-image: url(icon/exit.png) !important;
}

.icon-designtool-checked {
    background-image: url(icon/checked.png) !important;
}

.icon-designtool-home {
    background-image: url(icon/home.png) !important;
}

.icon-designtool-configuration {
    background-image: url(icon/configuration.png) !important;
}

.icon-designtool-dictionaryfolder {
    background-image: url(icon/dictionaryfolder.gif) !important;
}

.icon-designtool-dictionary {
    background-image: url(icon/dictionary.gif) !important;
}

.icon-designtool-sysdictionary {
    background-image: url(icon/sysdictionary.gif) !important;
}

.icon-designtool-iconfolder {
    background-image: url(icon/png.gif) !important;
}

.icon-designtool-menufolder {
    background-image: url(icon/menufolder.gif) !important;
}

.icon-designtool-organization {
    background-image: url(icon/organization.gif) !important;
}

.icon-designtool-userfolder {
    background-image: url(icon/userfolder.gif) !important;
}

.icon-designtool-rolefolder {
    background-image: url(icon/roles.png) !important;
}

.icon-designtool-deptfolder {
    background-image: url(icon/depts.png) !important;
}

.icon-designtool-modulefolder {
    background-image: url(icon/modulefolder.gif) !important;
}

.icon-designtool-flowinstencefolder {
    background-image: url(icon/flowinstences.gif) !important;
}

.icon-designtool-skin {
    background-image: url(icon/skin.png) !important;
}

.icon-designtool-copypaste {
    background-image: url(icon/copypaste.png) !important;
}

.icon-designtool-apply {
    background-image: url(icon/apply.png) !important;
}

.icon-designtool-apply32 {
    background-image: url(icon/apply32.gif) !important;
}

.icon-designtool-extbutton {
    background-image: url(icon/extbutton.gif) !important;
}

.icon-designtool-templatefolder {
    background-image: url(icon/templatefolder.gif) !important;
}

.icon-designtool-user {
    background-image: url(icon/user.gif) !important;
}

.icon-designtool-dept {
    background-image: url(icon/dept.gif) !important;
}

.icon-designtool-role {
    background-image: url(icon/dept.gif) !important;
}

.icon-designtool-organizationselector {
    background-image: url(icon/organizationselector.gif) !important;
}

.icon-designtool-confirm {
    background-image: url(icon/confirm.png) !important;
}

.icon-designtool-cancel {
    background-image: url(icon/cancel.png) !important;
}

.icon-designtool-rename {
    background-image: url(icon/rename.gif) !important;
}

.icon-designtool-emptydoc {
    background-image: url(icon/emptydoc.gif) !important;
}

.icon-designtool-authoritymap {
    background-image: url(icon/authoritymap.gif) !important;
}

.icon-designtool-action {
    background-image: url(icon/action.gif) !important;
}

.icon-designtool-column {
    background-image: url(icon/column.gif) !important;
}

.icon-designtool-document {
    background-image: url(icon/document.gif) !important;
}

.icon-designtool-field {
    background-image: url(icon/field.gif) !important;
}

.icon-designtool-flow {
    background-image: url(icon/flow.png) !important;
}

.icon-designtool-group {
    background-image: url(icon/group.gif) !important;
}

.icon-designtool-identity {
    background-image: url(icon/identity.gif) !important;
}

.icon-designtool-module {
    background-image: url(icon/module.gif) !important;
}

.icon-designtool-node {
    background-image: url(icon/node.gif) !important;
}

.icon-designtool-panel {
    background-image: url(icon/panel.gif) !important;
}

.icon-designtool-query {
    background-image: url(icon/query.gif) !important;
}

.icon-designtool-relation {
    background-image: url(icon/relation.gif) !important;
}

.icon-designtool-route {
    background-image: url(icon/route.png) !important;
}

.icon-designtool-state {
    background-image: url(icon/state.gif) !important;
}

.icon-designtool-table {
    background-image: url(icon/table.gif) !important;
}

.icon-designtool-tableform {
    background-image: url(icon/tableform.gif) !important;
}

.icon-designtool-view {
    background-image: url(icon/view.gif) !important;
}

.icon-designtool-viewparameter {
    background-image: url(icon/viewparameter.gif) !important;
}

.icon-designtool-modulerole {
    background-image: url(icon/modulerole.gif) !important;
}

.icon-designtool-moduleauthorityfolder {
    background-image: url(icon/moduleauthorityfolder.png) !important;
}

.icon-designtool-modulemenu {
    background-image: url(icon/modulemenu.gif) !important;
}

.icon-designtool-moduleroleauthfolder {
    background-image: url(icon/moduleroleauthfolder.gif) !important;
}

.icon-designtool-menuauthfolder {
    background-image: url(icon/menuauthfolder.gif) !important;
}

.icon-designtool-class {
    background-image: url(icon/class.gif) !important;
}

.icon-designtool-importfield {
    background-image: url(icon/importfield.gif) !important;
}

.icon-designtool-createtable {
    background-image: url(icon/createtable.png) !important;
}

.icon-designtool-portlet {
    background-image: url(icon/portlet.png) !important;
}

.icon-designtool-worktrust {
    background-image: url(icon/worktrust.gif) !important;
}

















