
.x-user-expression-view-over{
    border:1px solid #dddddd;
    background: #efefef url(images/row-over.gif) repeat-x left top;
	padding: 4px;
}

.x-user-expression-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 2px;
}

.user-expression-item{
	float: left;
	margin: 1px;
	margin-right: 0;
	padding: 2px;
	padding-left: 20px;
	width: 100px;
	overflow: hidden;
	border:1px solid #99bbe8;
	background-position: 2px 1px;
	background-repeat: no-repeat;
}