.icon-app-bmj-baseinfo {
	background-image: url(../images/icon/app/bmj/baseinfo.png) !important;
}
.icon-app-bmj-dataexchange {
	background-image: url(../images/icon/app/bmj/dataexchange.png) !important;
}
.icon-app-bmj-department {
	background-image: url(../images/icon/app/bmj/department.gif) !important;
}
.icon-app-bmj-department24 {
	background-image: url(../images/icon/app/bmj/department24.gif) !important;
}
.icon-app-bmj-departmentinfo {
	background-image: url(../images/icon/app/bmj/departmentinfo.png) !important;
}
.icon-app-bmj-departmentinfo24 {
	background-image: url(../images/icon/app/bmj/departmentinfo24.png) !important;
}
.icon-app-bmj-detail {
	background-image: url(../images/icon/app/bmj/detail.gif) !important;
}
.icon-app-bmj-exportdepartment {
	background-image: url(../images/icon/app/bmj/exportdepartment.gif) !important;
}
.icon-app-bmj-exportdepartment24 {
	background-image: url(../images/icon/app/bmj/exportdepartment24.gif) !important;
}
.icon-app-bmj-exportregistfile {
	background-image: url(../images/icon/app/bmj/exportregistfile.gif) !important;
}
.icon-app-bmj-exportregistfile24 {
	background-image: url(../images/icon/app/bmj/exportregistfile24.gif) !important;
}
.icon-app-bmj-fielddefine {
	background-image: url(../images/icon/app/bmj/fielddefine.gif) !important;
}
.icon-app-bmj-fielddefine24 {
	background-image: url(../images/icon/app/bmj/fielddefine24.gif) !important;
}
.icon-app-bmj-importdata {
	background-image: url(../images/icon/app/bmj/importdata.gif) !important;
}
.icon-app-bmj-importdata24 {
	background-image: url(../images/icon/app/bmj/importdata24.gif) !important;
}
.icon-app-bmj-importhistory {
	background-image: url(../images/icon/app/bmj/importhistory.png) !important;
}
.icon-app-bmj-importhistory24 {
	background-image: url(../images/icon/app/bmj/importhistory24.png) !important;
}
.icon-app-bmj-secretcomputer {
	background-image: url(../images/icon/app/bmj/secretcomputer.gif) !important;
}
.icon-app-bmj-secretcomputer24 {
	background-image: url(../images/icon/app/bmj/secretcomputer24.gif) !important;
}
.icon-app-bmj-secretstorage {
	background-image: url(../images/icon/app/bmj/secretstorage.png) !important;
}
.icon-app-bmj-secretstorage24 {
	background-image: url(../images/icon/app/bmj/secretstorage24.png) !important;
}
.icon-app-bmj-secretsystem {
	background-image: url(../images/icon/app/bmj/secretsystem.gif) !important;
}
.icon-app-bmj-secretsystem24 {
	background-image: url(../images/icon/app/bmj/secretsystem24.gif) !important;
}
.icon-app-bmj-secrettraining {
	background-image: url(../images/icon/app/bmj/secrettraining.gif) !important;
}
.icon-app-bmj-secrettraining24 {
	background-image: url(../images/icon/app/bmj/secrettraining24.gif) !important;
}
.icon-app-bmj-stat {
	background-image: url(../images/icon/app/bmj/stat.gif) !important;
}
.icon-app-bmj-systemclient {
	background-image: url(../images/icon/app/bmj/systemclient.png) !important;
}
.icon-app-bmj-systemhistory {
	background-image: url(../images/icon/app/bmj/systemhistory.gif) !important;
}
.icon-app-bmj-systemserver {
	background-image: url(../images/icon/app/bmj/systemserver.gif) !important;
}
.icon-app-bmj-systemworklog {
	background-image: url(../images/icon/app/bmj/systemworklog.gif) !important;
}
.icon-app-bmj-workmanage {
	background-image: url(../images/icon/app/bmj/workmanage.png) !important;
}
.icon-app-bpcoa-project-combine {
	background-image: url(../images/icon/app/bpcoa/project/combine.png) !important;
}
.icon-app-bpcoa-project-combine24 {
	background-image: url(../images/icon/app/bpcoa/project/combine24.png) !important;
}
.icon-app-bpcoa-project-dailytask {
	background-image: url(../images/icon/app/bpcoa/project/dailytask.png) !important;
}
.icon-app-bpcoa-project-dailytask24 {
	background-image: url(../images/icon/app/bpcoa/project/dailytask24.png) !important;
}
.icon-app-bpcoa-project-merge {
	background-image: url(../images/icon/app/bpcoa/project/merge.png) !important;
}
.icon-app-bpcoa-project-merge24 {
	background-image: url(../images/icon/app/bpcoa/project/merge24.png) !important;
}
.icon-app-bpcoa-project-myproject {
	background-image: url(../images/icon/app/bpcoa/project/myproject.png) !important;
}
.icon-app-bpcoa-project-myproject24 {
	background-image: url(../images/icon/app/bpcoa/project/myproject24.png) !important;
}
.icon-app-bpcoa-project-task {
	background-image: url(../images/icon/app/bpcoa/project/task.png) !important;
}
.icon-app-bpcoa-project-task24 {
	background-image: url(../images/icon/app/bpcoa/project/task24.png) !important;
}
.icon-app-bpcoa-project-todo {
	background-image: url(../images/icon/app/bpcoa/project/todo.png) !important;
}
.icon-app-bpcoa-project-todo24 {
	background-image: url(../images/icon/app/bpcoa/project/todo24.png) !important;
}
.icon-app-bpcoa-project {
	background-image: url(../images/icon/app/bpcoa/project.png) !important;
}
.icon-app-bpcoa-project24 {
	background-image: url(../images/icon/app/bpcoa/project24.png) !important;
}
.icon-app-crca-content {
	background-image: url(../images/icon/app/crca/content.png) !important;
}
.icon-app-crca-content24 {
	background-image: url(../images/icon/app/crca/content24.png) !important;
}
.icon-app-crca-literature {
	background-image: url(../images/icon/app/crca/literature.png) !important;
}
.icon-app-crca-literature24 {
	background-image: url(../images/icon/app/crca/literature24.png) !important;
}
.icon-app-crca-question {
	background-image: url(../images/icon/app/crca/question.gif) !important;
}
.icon-app-crca-question24 {
	background-image: url(../images/icon/app/crca/question24.gif) !important;
}
.icon-app-eds-appsetting {
	background-image: url(../images/icon/app/eds/appsetting.png) !important;
}
.icon-app-eds-appsetting24 {
	background-image: url(../images/icon/app/eds/appsetting24.png) !important;
}
.icon-app-eds-areasetting {
	background-image: url(../images/icon/app/eds/areasetting.png) !important;
}
.icon-app-eds-areasetting24 {
	background-image: url(../images/icon/app/eds/areasetting24.png) !important;
}
.icon-app-eds-baseinfo {
	background-image: url(../images/icon/app/eds/baseinfo.png) !important;
}
.icon-app-eds-baseinfo24 {
	background-image: url(../images/icon/app/eds/baseinfo24.png) !important;
}
.icon-app-eds-basesetting {
	background-image: url(../images/icon/app/eds/basesetting.png) !important;
}
.icon-app-eds-basesetting24 {
	background-image: url(../images/icon/app/eds/basesetting24.png) !important;
}
.icon-app-eds-datacenter {
	background-image: url(../images/icon/app/eds/datacenter.png) !important;
}
.icon-app-eds-datacenter24 {
	background-image: url(../images/icon/app/eds/datacenter24.png) !important;
}
.icon-app-eds-dataexchange {
	background-image: url(../images/icon/app/eds/dataexchange.png) !important;
}
.icon-app-eds-dataexchange24 {
	background-image: url(../images/icon/app/eds/dataexchange24.png) !important;
}
.icon-app-eds-datahandler {
	background-image: url(../images/icon/app/eds/datahandler.png) !important;
}
.icon-app-eds-datahandler24 {
	background-image: url(../images/icon/app/eds/datahandler24.png) !important;
}
.icon-app-eds-datamanage {
	background-image: url(../images/icon/app/eds/datamanage.png) !important;
}
.icon-app-eds-datamanage24 {
	background-image: url(../images/icon/app/eds/datamanage24.png) !important;
}
.icon-app-eds-energyanalyze {
	background-image: url(../images/icon/app/eds/energyanalyze.gif) !important;
}
.icon-app-eds-energyanalyze24 {
	background-image: url(../images/icon/app/eds/energyanalyze24.gif) !important;
}
.icon-app-eds-energygis {
	background-image: url(../images/icon/app/eds/energygis.gif) !important;
}
.icon-app-eds-energygis24 {
	background-image: url(../images/icon/app/eds/energygis24.gif) !important;
}
.icon-app-eds-energystat {
	background-image: url(../images/icon/app/eds/energystat.gif) !important;
}
.icon-app-eds-energystat24 {
	background-image: url(../images/icon/app/eds/energystat24.gif) !important;
}
.icon-app-eds-energytype {
	background-image: url(../images/icon/app/eds/energytype.gif) !important;
}
.icon-app-eds-energytype24 {
	background-image: url(../images/icon/app/eds/energytype24.gif) !important;
}
.icon-app-eds-enterpriseinfo {
	background-image: url(../images/icon/app/eds/enterpriseinfo.gif) !important;
}
.icon-app-eds-enterpriseinfo24 {
	background-image: url(../images/icon/app/eds/enterpriseinfo24.gif) !important;
}
.icon-app-eds-tagsetting {
	background-image: url(../images/icon/app/eds/tagsetting.gif) !important;
}
.icon-app-eds-tagsetting24 {
	background-image: url(../images/icon/app/eds/tagsetting24.gif) !important;
}
.icon-app-eds-tradesetting {
	background-image: url(../images/icon/app/eds/tradesetting.gif) !important;
}
.icon-app-eds-tradesetting24 {
	background-image: url(../images/icon/app/eds/tradesetting24.gif) !important;
}
.icon-app-jhasss-afs {
	background-image: url(../images/icon/app/jhasss/afs.gif) !important;
}
.icon-app-jhasss-afs24 {
	background-image: url(../images/icon/app/jhasss/afs24.gif) !important;
}
.icon-app-jhasss-asscall {
	background-image: url(../images/icon/app/jhasss/asscall.png) !important;
}
.icon-app-jhasss-asscall24 {
	background-image: url(../images/icon/app/jhasss/asscall24.png) !important;
}
.icon-app-jhasss-asscontract {
	background-image: url(../images/icon/app/jhasss/asscontract.png) !important;
}
.icon-app-jhasss-asscontract24 {
	background-image: url(../images/icon/app/jhasss/asscontract24.png) !important;
}
.icon-app-jhasss-assstat {
	background-image: url(../images/icon/app/jhasss/assstat.gif) !important;
}
.icon-app-jhasss-assstat24 {
	background-image: url(../images/icon/app/jhasss/assstat24.gif) !important;
}
.icon-app-jhasss-basesetting {
	background-image: url(../images/icon/app/jhasss/basesetting.png) !important;
}
.icon-app-jhasss-basesetting24 {
	background-image: url(../images/icon/app/jhasss/basesetting24.png) !important;
}
.icon-app-jhasss-clientinfo {
	background-image: url(../images/icon/app/jhasss/clientinfo.gif) !important;
}
.icon-app-jhasss-clientinfo24 {
	background-image: url(../images/icon/app/jhasss/clientinfo24.gif) !important;
}
.icon-app-jhasss-componentinfo {
	background-image: url(../images/icon/app/jhasss/componentinfo.png) !important;
}
.icon-app-jhasss-componentinfo24 {
	background-image: url(../images/icon/app/jhasss/componentinfo24.png) !important;
}
.icon-app-jhasss-dataanalyze {
	background-image: url(../images/icon/app/jhasss/dataanalyze.gif) !important;
}
.icon-app-jhasss-dataanalyze24 {
	background-image: url(../images/icon/app/jhasss/dataanalyze24.gif) !important;
}
.icon-app-jhasss-deviceinfo {
	background-image: url(../images/icon/app/jhasss/deviceinfo.gif) !important;
}
.icon-app-jhasss-deviceinfo24 {
	background-image: url(../images/icon/app/jhasss/deviceinfo24.gif) !important;
}
.icon-app-jhasss-faq {
	background-image: url(../images/icon/app/jhasss/faq.gif) !important;
}
.icon-app-jhasss-faq24 {
	background-image: url(../images/icon/app/jhasss/faq24.gif) !important;
}
.icon-app-jhasss-feedback {
	background-image: url(../images/icon/app/jhasss/feedback.gif) !important;
}
.icon-app-jhasss-feedback24 {
	background-image: url(../images/icon/app/jhasss/feedback24.gif) !important;
}
.icon-app-jhasss-infoissue {
	background-image: url(../images/icon/app/jhasss/infoissue.gif) !important;
}
.icon-app-jhasss-infoissue24 {
	background-image: url(../images/icon/app/jhasss/infoissue24.gif) !important;
}
.icon-app-jhasss-orderinfo {
	background-image: url(../images/icon/app/jhasss/orderinfo.gif) !important;
}
.icon-app-jhasss-orderinfo24 {
	background-image: url(../images/icon/app/jhasss/orderinfo24.gif) !important;
}
.icon-app-jhasss-outcomponentinfo {
	background-image: url(../images/icon/app/jhasss/outcomponentinfo.gif) !important;
}
.icon-app-jhasss-outcomponentinfo24 {
	background-image: url(../images/icon/app/jhasss/outcomponentinfo24.gif) !important;
}
.icon-app-jhasss-plcmemory {
	background-image: url(../images/icon/app/jhasss/plcmemory.png) !important;
}
.icon-app-jhasss-plcmemory24 {
	background-image: url(../images/icon/app/jhasss/plcmemory24.png) !important;
}
.icon-app-jhasss-plcmonitor {
	background-image: url(../images/icon/app/jhasss/plcmonitor.gif) !important;
}
.icon-app-jhasss-plcmonitor24 {
	background-image: url(../images/icon/app/jhasss/plcmonitor24.gif) !important;
}
.icon-app-jhasss-productinfo {
	background-image: url(../images/icon/app/jhasss/productinfo.gif) !important;
}
.icon-app-jhasss-productinfo24 {
	background-image: url(../images/icon/app/jhasss/productinfo24.gif) !important;
}
.icon-app-jhasss-remotedtu {
	background-image: url(../images/icon/app/jhasss/remotedtu.gif) !important;
}
.icon-app-jhasss-remotedtu24 {
	background-image: url(../images/icon/app/jhasss/remotedtu24.gif) !important;
}
.icon-app-jhasss-remotemanage {
	background-image: url(../images/icon/app/jhasss/remotemanage.png) !important;
}
.icon-app-jhasss-remotemanage24 {
	background-image: url(../images/icon/app/jhasss/remotemanage24.png) !important;
}
.icon-app-jhasss-sitemanage {
	background-image: url(../images/icon/app/jhasss/sitemanage.png) !important;
}
.icon-app-jhasss-sitemanage24 {
	background-image: url(../images/icon/app/jhasss/sitemanage24.png) !important;
}
.icon-app-jhasss-vipmanage {
	background-image: url(../images/icon/app/jhasss/vipmanage.gif) !important;
}
.icon-app-jhasss-vipmanage24 {
	background-image: url(../images/icon/app/jhasss/vipmanage24.gif) !important;
}
.icon-app-mkoa-addcomment {
	background-image: url(../images/icon/app/mkoa/addcomment.png) !important;
}
.icon-app-mkoa-addressbook {
	background-image: url(../images/icon/app/mkoa/addressbook.png) !important;
}
.icon-app-mkoa-addressbook24 {
	background-image: url(../images/icon/app/mkoa/addressbook24.png) !important;
}
.icon-app-mkoa-admin {
	background-image: url(../images/icon/app/mkoa/admin.gif) !important;
}
.icon-app-mkoa-admin24 {
	background-image: url(../images/icon/app/mkoa/admin24.gif) !important;
}
.icon-app-mkoa-alert {
	background-image: url(../images/icon/app/mkoa/alert.png) !important;
}
.icon-app-mkoa-asset {
	background-image: url(../images/icon/app/mkoa/asset.gif) !important;
}
.icon-app-mkoa-asset24 {
	background-image: url(../images/icon/app/mkoa/asset24.gif) !important;
}
.icon-app-mkoa-attendance {
	background-image: url(../images/icon/app/mkoa/attendance.png) !important;
}
.icon-app-mkoa-attendance24 {
	background-image: url(../images/icon/app/mkoa/attendance24.png) !important;
}
.icon-app-mkoa-autoday {
	background-image: url(../images/icon/app/mkoa/autoday.gif) !important;
}
.icon-app-mkoa-bill {
	background-image: url(../images/icon/app/mkoa/bill.gif) !important;
}
.icon-app-mkoa-billin {
	background-image: url(../images/icon/app/mkoa/billin.gif) !important;
}
.icon-app-mkoa-billout {
	background-image: url(../images/icon/app/mkoa/billout.gif) !important;
}
.icon-app-mkoa-btnaddcomment {
	background-image: url(../images/icon/app/mkoa/btnaddcomment.png) !important;
}
.icon-app-mkoa-calendar {
	background-image: url(../images/icon/app/mkoa/calendar.png) !important;
}
.icon-app-mkoa-calendar24 {
	background-image: url(../images/icon/app/mkoa/calendar24.png) !important;
}
.icon-app-mkoa-calendarshare {
	background-image: url(../images/icon/app/mkoa/calendarshare.png) !important;
}
.icon-app-mkoa-car-list {
	background-image: url(../images/icon/app/mkoa/car-list.png) !important;
}
.icon-app-mkoa-car {
	background-image: url(../images/icon/app/mkoa/car.png) !important;
}
.icon-app-mkoa-car24 {
	background-image: url(../images/icon/app/mkoa/car24.png) !important;
}
.icon-app-mkoa-civilwork {
	background-image: url(../images/icon/app/mkoa/civilwork.gif) !important;
}
.icon-app-mkoa-client {
	background-image: url(../images/icon/app/mkoa/client.png) !important;
}
.icon-app-mkoa-client24 {
	background-image: url(../images/icon/app/mkoa/client24.png) !important;
}
.icon-app-mkoa-collaboration {
	background-image: url(../images/icon/app/mkoa/collaboration.png) !important;
}
.icon-app-mkoa-config {
	background-image: url(../images/icon/app/mkoa/config.png) !important;
}
.icon-app-mkoa-daytips {
	background-image: url(../images/icon/app/mkoa/daytips.gif) !important;
}
.icon-app-mkoa-daytips48 {
	background-image: url(../images/icon/app/mkoa/daytips48.gif) !important;
}
.icon-app-mkoa-downloadmail {
	background-image: url(../images/icon/app/mkoa/downloadmail.png) !important;
}
.icon-app-mkoa-draft {
	background-image: url(../images/icon/app/mkoa/draft.png) !important;
}
.icon-app-mkoa-empty {
	background-image: url(../images/icon/app/mkoa/empty.gif) !important;
}
.icon-app-mkoa-empty24 {
	background-image: url(../images/icon/app/mkoa/empty24.gif) !important;
}
.icon-app-mkoa-emptytag {
	background-image: url(../images/icon/app/mkoa/emptytag.gif) !important;
}
.icon-app-mkoa-favorite {
	background-image: url(../images/icon/app/mkoa/favorite.png) !important;
}
.icon-app-mkoa-favorite24 {
	background-image: url(../images/icon/app/mkoa/favorite24.png) !important;
}
.icon-app-mkoa-favoritetag {
	background-image: url(../images/icon/app/mkoa/favoritetag.gif) !important;
}
.icon-app-mkoa-favoritetag24 {
	background-image: url(../images/icon/app/mkoa/favoritetag24.gif) !important;
}
.icon-app-mkoa-file {
	background-image: url(../images/icon/app/mkoa/file.gif) !important;
}
.icon-app-mkoa-filesender {
	background-image: url(../images/icon/app/mkoa/filesender.png) !important;
}
.icon-app-mkoa-filesender24 {
	background-image: url(../images/icon/app/mkoa/filesender24.png) !important;
}
.icon-app-mkoa-finance {
	background-image: url(../images/icon/app/mkoa/finance.png) !important;
}
.icon-app-mkoa-finance24 {
	background-image: url(../images/icon/app/mkoa/finance24.png) !important;
}
.icon-app-mkoa-folder {
	background-image: url(../images/icon/app/mkoa/folder.gif) !important;
}
.icon-app-mkoa-foldernet {
	background-image: url(../images/icon/app/mkoa/foldernet.gif) !important;
}
.icon-app-mkoa-foldernet24 {
	background-image: url(../images/icon/app/mkoa/foldernet24.gif) !important;
}
.icon-app-mkoa-folders {
	background-image: url(../images/icon/app/mkoa/folders.gif) !important;
}
.icon-app-mkoa-foldershare {
	background-image: url(../images/icon/app/mkoa/foldershare.gif) !important;
}
.icon-app-mkoa-foldershares {
	background-image: url(../images/icon/app/mkoa/foldershares.png) !important;
}
.icon-app-mkoa-folderup {
	background-image: url(../images/icon/app/mkoa/folderup.gif) !important;
}
.icon-app-mkoa-forum-addtopic {
	background-image: url(../images/icon/app/mkoa/forum/addtopic.png) !important;
}
.icon-app-mkoa-forum-all {
	background-image: url(../images/icon/app/mkoa/forum/all.png) !important;
}
.icon-app-mkoa-forum-classical {
	background-image: url(../images/icon/app/mkoa/forum/classical.png) !important;
}
.icon-app-mkoa-forum-forum {
	background-image: url(../images/icon/app/mkoa/forum/forum.png) !important;
}
.icon-app-mkoa-forum-forumfolder {
	background-image: url(../images/icon/app/mkoa/forum/forumfolder.png) !important;
}
.icon-app-mkoa-forum-lock {
	background-image: url(../images/icon/app/mkoa/forum/lock.png) !important;
}
.icon-app-mkoa-forum-replay {
	background-image: url(../images/icon/app/mkoa/forum/replay.png) !important;
}
.icon-app-mkoa-forum-top {
	background-image: url(../images/icon/app/mkoa/forum/top.png) !important;
}
.icon-app-mkoa-forum-unlock {
	background-image: url(../images/icon/app/mkoa/forum/unlock.png) !important;
}
.icon-app-mkoa-forum {
	background-image: url(../images/icon/app/mkoa/forum.png) !important;
}
.icon-app-mkoa-forum24 {
	background-image: url(../images/icon/app/mkoa/forum24.png) !important;
}
.icon-app-mkoa-forumcategory {
	background-image: url(../images/icon/app/mkoa/forumcategory.png) !important;
}
.icon-app-mkoa-forward {
	background-image: url(../images/icon/app/mkoa/forward.png) !important;
}
.icon-app-mkoa-forwardatt {
	background-image: url(../images/icon/app/mkoa/forwardatt.png) !important;
}
.icon-app-mkoa-gis {
	background-image: url(../images/icon/app/mkoa/gis.png) !important;
}
.icon-app-mkoa-gis24 {
	background-image: url(../images/icon/app/mkoa/gis24.png) !important;
}
.icon-app-mkoa-gisexplorer {
	background-image: url(../images/icon/app/mkoa/gisexplorer.gif) !important;
}
.icon-app-mkoa-gisexplorer24 {
	background-image: url(../images/icon/app/mkoa/gisexplorer24.gif) !important;
}
.icon-app-mkoa-good {
	background-image: url(../images/icon/app/mkoa/good.png) !important;
}
.icon-app-mkoa-knowledge {
	background-image: url(../images/icon/app/mkoa/knowledge.png) !important;
}
.icon-app-mkoa-knowledge24 {
	background-image: url(../images/icon/app/mkoa/knowledge24.png) !important;
}
.icon-app-mkoa-knowledgedetail {
	background-image: url(../images/icon/app/mkoa/knowledgedetail.png) !important;
}
.icon-app-mkoa-mail {
	background-image: url(../images/icon/app/mkoa/mail.png) !important;
}
.icon-app-mkoa-mail24 {
	background-image: url(../images/icon/app/mkoa/mail24.png) !important;
}
.icon-app-mkoa-mailwrite {
	background-image: url(../images/icon/app/mkoa/mailwrite.png) !important;
}
.icon-app-mkoa-move {
	background-image: url(../images/icon/app/mkoa/move.png) !important;
}
.icon-app-mkoa-myoffice {
	background-image: url(../images/icon/app/mkoa/myoffice.png) !important;
}
.icon-app-mkoa-namecard {
	background-image: url(../images/icon/app/mkoa/namecard.png) !important;
}
.icon-app-mkoa-namecardpublic {
	background-image: url(../images/icon/app/mkoa/namecardpublic.png) !important;
}
.icon-app-mkoa-namecardshare {
	background-image: url(../images/icon/app/mkoa/namecardshare.png) !important;
}
.icon-app-mkoa-notify {
	background-image: url(../images/icon/app/mkoa/notify.png) !important;
}
.icon-app-mkoa-notify24 {
	background-image: url(../images/icon/app/mkoa/notify24.png) !important;
}
.icon-app-mkoa-office-bill-mine {
	background-image: url(../images/icon/app/mkoa/office-bill-mine.png) !important;
}
.icon-app-mkoa-office-bill {
	background-image: url(../images/icon/app/mkoa/office-bill.png) !important;
}
.icon-app-mkoa-office-brick {
	background-image: url(../images/icon/app/mkoa/office-brick.png) !important;
}
.icon-app-mkoa-office-in {
	background-image: url(../images/icon/app/mkoa/office-in.png) !important;
}
.icon-app-mkoa-office-out {
	background-image: url(../images/icon/app/mkoa/office-out.png) !important;
}
.icon-app-mkoa-office-report {
	background-image: url(../images/icon/app/mkoa/office-report.png) !important;
}
.icon-app-mkoa-office-tackle {
	background-image: url(../images/icon/app/mkoa/office-tackle.png) !important;
}
.icon-app-mkoa-office {
	background-image: url(../images/icon/app/mkoa/office.png) !important;
}
.icon-app-mkoa-office24 {
	background-image: url(../images/icon/app/mkoa/office24.png) !important;
}
.icon-app-mkoa-personrecord {
	background-image: url(../images/icon/app/mkoa/personrecord.jpg) !important;
}
.icon-app-mkoa-personrecord24 {
	background-image: url(../images/icon/app/mkoa/personrecord24.jpg) !important;
}
.icon-app-mkoa-personrecordlist {
	background-image: url(../images/icon/app/mkoa/personrecordlist.png) !important;
}
.icon-app-mkoa-phone {
	background-image: url(../images/icon/app/mkoa/phone.png) !important;
}
.icon-app-mkoa-phone24 {
	background-image: url(../images/icon/app/mkoa/phone24.png) !important;
}
.icon-app-mkoa-project {
	background-image: url(../images/icon/app/mkoa/project.png) !important;
}
.icon-app-mkoa-project24 {
	background-image: url(../images/icon/app/mkoa/project24.png) !important;
}
.icon-app-mkoa-publicinfo {
	background-image: url(../images/icon/app/mkoa/publicinfo.png) !important;
}
.icon-app-mkoa-refresh {
	background-image: url(../images/icon/app/mkoa/refresh.png) !important;
}
.icon-app-mkoa-refresh24 {
	background-image: url(../images/icon/app/mkoa/refresh24.png) !important;
}
.icon-app-mkoa-regulations {
	background-image: url(../images/icon/app/mkoa/regulations.png) !important;
}
.icon-app-mkoa-regulations24 {
	background-image: url(../images/icon/app/mkoa/regulations24.png) !important;
}
.icon-app-mkoa-reply {
	background-image: url(../images/icon/app/mkoa/reply.png) !important;
}
.icon-app-mkoa-replyall {
	background-image: url(../images/icon/app/mkoa/replyall.png) !important;
}
.icon-app-mkoa-restday {
	background-image: url(../images/icon/app/mkoa/restday.gif) !important;
}
.icon-app-mkoa-rule {
	background-image: url(../images/icon/app/mkoa/rule.png) !important;
}
.icon-app-mkoa-score {
	background-image: url(../images/icon/app/mkoa/score.png) !important;
}
.icon-app-mkoa-score24 {
	background-image: url(../images/icon/app/mkoa/score24.png) !important;
}
.icon-app-mkoa-senddocument {
	background-image: url(../images/icon/app/mkoa/senddocument.png) !important;
}
.icon-app-mkoa-senddocument24 {
	background-image: url(../images/icon/app/mkoa/senddocument24.png) !important;
}
.icon-app-mkoa-sent {
	background-image: url(../images/icon/app/mkoa/sent.png) !important;
}
.icon-app-mkoa-signature {
	background-image: url(../images/icon/app/mkoa/signature.png) !important;
}
.icon-app-mkoa-tag {
	background-image: url(../images/icon/app/mkoa/tag.gif) !important;
}
.icon-app-mkoa-tag24 {
	background-image: url(../images/icon/app/mkoa/tag24.gif) !important;
}
.icon-app-mkoa-tagfolder {
	background-image: url(../images/icon/app/mkoa/tagfolder.png) !important;
}
.icon-app-mkoa-tagmail {
	background-image: url(../images/icon/app/mkoa/tagmail.png) !important;
}
.icon-app-mkoa-tags {
	background-image: url(../images/icon/app/mkoa/tags.png) !important;
}
.icon-app-mkoa-task {
	background-image: url(../images/icon/app/mkoa/task.png) !important;
}
.icon-app-mkoa-task24 {
	background-image: url(../images/icon/app/mkoa/task24.png) !important;
}
.icon-app-mkoa-todo {
	background-image: url(../images/icon/app/mkoa/todo.png) !important;
}
.icon-app-mkoa-todo24 {
	background-image: url(../images/icon/app/mkoa/todo24.png) !important;
}
.icon-app-mkoa-todohistory {
	background-image: url(../images/icon/app/mkoa/todohistory.png) !important;
}
.icon-app-mkoa-trash {
	background-image: url(../images/icon/app/mkoa/trash.png) !important;
}
.icon-app-mkoa-usein {
	background-image: url(../images/icon/app/mkoa/usein.png) !important;
}
.icon-app-mkoa-useout {
	background-image: url(../images/icon/app/mkoa/useout.png) !important;
}
.icon-app-mkoa-workday {
	background-image: url(../images/icon/app/mkoa/workday.gif) !important;
}
.icon-app-mkoa-worklog {
	background-image: url(../images/icon/app/mkoa/worklog.png) !important;
}
.icon-app-mkoa-worklog24 {
	background-image: url(../images/icon/app/mkoa/worklog24.png) !important;
}
.icon-app-mkoa-workreport {
	background-image: url(../images/icon/app/mkoa/workreport.png) !important;
}
.icon-app-mkoa-workreport24 {
	background-image: url(../images/icon/app/mkoa/workreport24.png) !important;
}
.icon-app-mkoa-workrequest {
	background-image: url(../images/icon/app/mkoa/workrequest.png) !important;
}
.icon-app-mkoa-workrequest24 {
	background-image: url(../images/icon/app/mkoa/workrequest24.png) !important;
}
.icon-app-mkoa-worksystem {
	background-image: url(../images/icon/app/mkoa/worksystem.png) !important;
}
.icon-app-mkoa-worksystem24 {
	background-image: url(../images/icon/app/mkoa/worksystem24.png) !important;
}
.icon-sys-0shortcutdocument48 {
	background-image: url(../images/icon/sys/0shortcutdocument48.png) !important;
}
.icon-sys-0shortcutfolder48 {
	background-image: url(../images/icon/sys/0shortcutfolder48.png) !important;
}
.icon-sys-0shortcutmenu48 {
	background-image: url(../images/icon/sys/0shortcutmenu48.png) !important;
}
.icon-sys-0shortcutsys48 {
	background-image: url(../images/icon/sys/0shortcutsys48.png) !important;
}
.icon-sys-about {
	background-image: url(../images/icon/sys/about.png) !important;
}
.icon-sys-active {
	background-image: url(../images/icon/sys/active.gif) !important;
}
.icon-sys-add {
	background-image: url(../images/icon/sys/add.png) !important;
}
.icon-sys-add48 {
	background-image: url(../images/icon/sys/add48.gif) !important;
}
.icon-sys-alert {
	background-image: url(../images/icon/sys/alert.gif) !important;
}
.icon-sys-allusers {
	background-image: url(../images/icon/sys/allusers.png) !important;
}
.icon-sys-aquery {
	background-image: url(../images/icon/sys/aquery.png) !important;
}
.icon-sys-arrow_up {
	background-image: url(../images/icon/sys/arrow_up.png) !important;
}
.icon-sys-attachment {
	background-image: url(../images/icon/sys/attachment.png) !important;
}
.icon-sys-background {
	background-image: url(../images/icon/sys/background.png) !important;
}
.icon-sys-bind {
	background-image: url(../images/icon/sys/bind.gif) !important;
}
.icon-sys-book {
	background-image: url(../images/icon/sys/book.gif) !important;
}
.icon-sys-btnactive {
	background-image: url(../images/icon/sys/btnactive.gif) !important;
}
.icon-sys-btnadd {
	background-image: url(../images/icon/sys/btnadd.png) !important;
}
.icon-sys-btnapply {
	background-image: url(../images/icon/sys/btnapply.png) !important;
}
.icon-sys-btnback {
	background-image: url(../images/icon/sys/btnback.gif) !important;
}
.icon-sys-btnbind {
	background-image: url(../images/icon/sys/btnbind.gif) !important;
}
.icon-sys-btnbuild {
	background-image: url(../images/icon/sys/btnbuild.png) !important;
}
.icon-sys-btncancel {
	background-image: url(../images/icon/sys/btncancel.png) !important;
}
.icon-sys-btnclose {
	background-image: url(../images/icon/sys/btnclose.png) !important;
}
.icon-sys-btnconfirm {
	background-image: url(../images/icon/sys/btnconfirm.png) !important;
}
.icon-sys-btndelete {
	background-image: url(../images/icon/sys/btndelete.gif) !important;
}
.icon-sys-btndownload {
	background-image: url(../images/icon/sys/btndownload.gif) !important;
}
.icon-sys-btnedit {
	background-image: url(../images/icon/sys/btnedit.png) !important;
}
.icon-sys-btnexport {
	background-image: url(../images/icon/sys/btnexport.png) !important;
}
.icon-sys-btnimport {
	background-image: url(../images/icon/sys/btnimport.png) !important;
}
.icon-sys-btninfo {
	background-image: url(../images/icon/sys/btninfo.gif) !important;
}
.icon-sys-btnlist {
	background-image: url(../images/icon/sys/btnlist.png) !important;
}
.icon-sys-btnmovedown {
	background-image: url(../images/icon/sys/btnmovedown.gif) !important;
}
.icon-sys-btnmoveup {
	background-image: url(../images/icon/sys/btnmoveup.gif) !important;
}
.icon-sys-btnnext {
	background-image: url(../images/icon/sys/btnnext.gif) !important;
}
.icon-sys-btnopen {
	background-image: url(../images/icon/sys/btnopen.gif) !important;
}
.icon-sys-btnpreview {
	background-image: url(../images/icon/sys/btnpreview.gif) !important;
}
.icon-sys-btnrefresh {
	background-image: url(../images/icon/sys/btnrefresh.png) !important;
}
.icon-sys-btnremove {
	background-image: url(../images/icon/sys/btnremove.gif) !important;
}
.icon-sys-btnrun {
	background-image: url(../images/icon/sys/btnrun.png) !important;
}
.icon-sys-btnsave {
	background-image: url(../images/icon/sys/btnsave.png) !important;
}
.icon-sys-btnsubmit {
	background-image: url(../images/icon/sys/btnsubmit.png) !important;
}
.icon-sys-btnupload {
	background-image: url(../images/icon/sys/btnupload.gif) !important;
}
.icon-sys-build {
	background-image: url(../images/icon/sys/build.png) !important;
}
.icon-sys-build24 {
	background-image: url(../images/icon/sys/build24.png) !important;
}
.icon-sys-cancel {
	background-image: url(../images/icon/sys/cancel.png) !important;
}
.icon-sys-close {
	background-image: url(../images/icon/sys/close.png) !important;
}
.icon-sys-closeall {
	background-image: url(../images/icon/sys/closeall.gif) !important;
}
.icon-sys-configration {
	background-image: url(../images/icon/sys/configration.gif) !important;
}
.icon-sys-confirm {
	background-image: url(../images/icon/sys/confirm.png) !important;
}
.icon-sys-copy {
	background-image: url(../images/icon/sys/copy.png) !important;
}
.icon-sys-create {
	background-image: url(../images/icon/sys/create.png) !important;
}
.icon-sys-create24 {
	background-image: url(../images/icon/sys/create24.png) !important;
}
.icon-sys-default {
	background-image: url(../images/icon/sys/default.gif) !important;
}
.icon-sys-delete {
	background-image: url(../images/icon/sys/delete.gif) !important;
}
.icon-sys-dept {
	background-image: url(../images/icon/sys/dept.gif) !important;
}
.icon-sys-designtool {
	background-image: url(../images/icon/sys/designtool.gif) !important;
}
.icon-sys-designtool48 {
	background-image: url(../images/icon/sys/designtool48.gif) !important;
}
.icon-sys-desktop {
	background-image: url(../images/icon/sys/desktop.gif) !important;
}
.icon-sys-desktop24 {
	background-image: url(../images/icon/sys/desktop24.png) !important;
}
.icon-sys-desktopui {
	background-image: url(../images/icon/sys/desktopui.gif) !important;
}
.icon-sys-dictionary {
	background-image: url(../images/icon/sys/dictionary.gif) !important;
}
.icon-sys-dictionarydata {
	background-image: url(../images/icon/sys/dictionarydata.gif) !important;
}
.icon-sys-doc {
	background-image: url(../images/icon/sys/doc.gif) !important;
}
.icon-sys-documnet48 {
	background-image: url(../images/icon/sys/documnet48.png) !important;
}
.icon-sys-down {
	background-image: url(../images/icon/sys/down.gif) !important;
}
.icon-sys-download {
	background-image: url(../images/icon/sys/download.gif) !important;
}
.icon-sys-draftfolder {
	background-image: url(../images/icon/sys/draftfolder.png) !important;
}
.icon-sys-edit {
	background-image: url(../images/icon/sys/edit.png) !important;
}
.icon-sys-empty {
	background-image: url(../images/icon/sys/empty.gif) !important;
}
.icon-sys-empty24 {
	background-image: url(../images/icon/sys/empty24.gif) !important;
}
.icon-sys-exit {
	background-image: url(../images/icon/sys/exit.png) !important;
}
.icon-sys-exit24 {
	background-image: url(../images/icon/sys/exit24.png) !important;
}
.icon-sys-explorer {
	background-image: url(../images/icon/sys/explorer.png) !important;
}
.icon-sys-export {
	background-image: url(../images/icon/sys/export.png) !important;
}
.icon-sys-favoriteoff {
	background-image: url(../images/icon/sys/favoriteoff.png) !important;
}
.icon-sys-favoriteon {
	background-image: url(../images/icon/sys/favoriteon.png) !important;
}
.icon-sys-filelist {
	background-image: url(../images/icon/sys/filelist.gif) !important;
}
.icon-sys-flow-archive {
	background-image: url(../images/icon/sys/flow/archive.png) !important;
}
.icon-sys-flow-assistover {
	background-image: url(../images/icon/sys/flow/assistover.png) !important;
}
.icon-sys-flow-flow {
	background-image: url(../images/icon/sys/flow/flow.png) !important;
}
.icon-sys-flow-forward {
	background-image: url(../images/icon/sys/flow/forward.png) !important;
}
.icon-sys-flow-guide {
	background-image: url(../images/icon/sys/flow/guide.gif) !important;
}
.icon-sys-flow-opinion {
	background-image: url(../images/icon/sys/flow/opinion.png) !important;
}
.icon-sys-flow-processover {
	background-image: url(../images/icon/sys/flow/processover.png) !important;
}
.icon-sys-flow-readover {
	background-image: url(../images/icon/sys/flow/readover.png) !important;
}
.icon-sys-flow-request {
	background-image: url(../images/icon/sys/flow/request.png) !important;
}
.icon-sys-flow-resume {
	background-image: url(../images/icon/sys/flow/resume.png) !important;
}
.icon-sys-flow-stop {
	background-image: url(../images/icon/sys/flow/stop.png) !important;
}
.icon-sys-flow-takeback {
	background-image: url(../images/icon/sys/flow/takeback.png) !important;
}
.icon-sys-flow-turnback {
	background-image: url(../images/icon/sys/flow/turnback.png) !important;
}
.icon-sys-folder {
	background-image: url(../images/icon/sys/folder.gif) !important;
}
.icon-sys-folder48 {
	background-image: url(../images/icon/sys/folder48.png) !important;
}
.icon-sys-function {
	background-image: url(../images/icon/sys/function.gif) !important;
}
.icon-sys-function24 {
	background-image: url(../images/icon/sys/function24.png) !important;
}
.icon-sys-getkey {
	background-image: url(../images/icon/sys/getkey.gif) !important;
}
.icon-sys-help {
	background-image: url(../images/icon/sys/help.gif) !important;
}
.icon-sys-help24 {
	background-image: url(../images/icon/sys/help24.png) !important;
}
.icon-sys-help48 {
	background-image: url(../images/icon/sys/help48.gif) !important;
}
.icon-sys-home {
	background-image: url(../images/icon/sys/home.png) !important;
}
.icon-sys-import {
	background-image: url(../images/icon/sys/import.png) !important;
}
.icon-sys-info {
	background-image: url(../images/icon/sys/info.gif) !important;
}
.icon-sys-list {
	background-image: url(../images/icon/sys/list.png) !important;
}
.icon-sys-list24 {
	background-image: url(../images/icon/sys/list24.png) !important;
}
.icon-sys-logo {
	background-image: url(../images/icon/sys/logo.png) !important;
}
.icon-sys-menu {
	background-image: url(../images/icon/sys/menu.gif) !important;
}
.icon-sys-menu48 {
	background-image: url(../images/icon/sys/menu48.png) !important;
}
.icon-sys-modulemenu {
	background-image: url(../images/icon/sys/modulemenu.png) !important;
}
.icon-sys-modulerole {
	background-image: url(../images/icon/sys/modulerole.gif) !important;
}
.icon-sys-movedown {
	background-image: url(../images/icon/sys/movedown.gif) !important;
}
.icon-sys-moveup {
	background-image: url(../images/icon/sys/moveup.gif) !important;
}
.icon-sys-myfolder {
	background-image: url(../images/icon/sys/myfolder.gif) !important;
}
.icon-sys-m_leader {
	background-image: url(../images/icon/sys/m_leader.png) !important;
}
.icon-sys-m_org {
	background-image: url(../images/icon/sys/m_org.png) !important;
}
.icon-sys-m_user {
	background-image: url(../images/icon/sys/m_user.png) !important;
}
.icon-sys-next {
	background-image: url(../images/icon/sys/next.gif) !important;
}
.icon-sys-open {
	background-image: url(../images/icon/sys/open.gif) !important;
}
.icon-sys-organization {
	background-image: url(../images/icon/sys/organization.gif) !important;
}
.icon-sys-organizationchart {
	background-image: url(../images/icon/sys/organizationchart.png) !important;
}
.icon-sys-password {
	background-image: url(../images/icon/sys/password.png) !important;
}
.icon-sys-paste {
	background-image: url(../images/icon/sys/paste.gif) !important;
}
.icon-sys-portal {
	background-image: url(../images/icon/sys/portal.png) !important;
}
.icon-sys-preference {
	background-image: url(../images/icon/sys/preference.gif) !important;
}
.icon-sys-preference48 {
	background-image: url(../images/icon/sys/preference48.gif) !important;
}
.icon-sys-preview {
	background-image: url(../images/icon/sys/preview.gif) !important;
}
.icon-sys-previous {
	background-image: url(../images/icon/sys/previous.gif) !important;
}
.icon-sys-query {
	background-image: url(../images/icon/sys/query.png) !important;
}
.icon-sys-quickstart {
	background-image: url(../images/icon/sys/quickstart.gif) !important;
}
.icon-sys-refresh {
	background-image: url(../images/icon/sys/refresh.png) !important;
}
.icon-sys-remove {
	background-image: url(../images/icon/sys/remove.gif) !important;
}
.icon-sys-resetpassword {
	background-image: url(../images/icon/sys/resetpassword.png) !important;
}
.icon-sys-return {
	background-image: url(../images/icon/sys/return.gif) !important;
}
.icon-sys-role {
	background-image: url(../images/icon/sys/role.gif) !important;
}
.icon-sys-run {
	background-image: url(../images/icon/sys/run.png) !important;
}
.icon-sys-save {
	background-image: url(../images/icon/sys/save.png) !important;
}
.icon-sys-setting {
	background-image: url(../images/icon/sys/setting.png) !important;
}
.icon-sys-share {
	background-image: url(../images/icon/sys/share.gif) !important;
}
.icon-sys-share24 {
	background-image: url(../images/icon/sys/share24.gif) !important;
}
.icon-sys-shortcut {
	background-image: url(../images/icon/sys/shortcut.png) !important;
}
.icon-sys-stat {
	background-image: url(../images/icon/sys/stat.gif) !important;
}
.icon-sys-subject {
	background-image: url(../images/icon/sys/subject.gif) !important;
}
.icon-sys-submit {
	background-image: url(../images/icon/sys/submit.png) !important;
}
.icon-sys-synchro {
	background-image: url(../images/icon/sys/synchro.png) !important;
}
.icon-sys-up {
	background-image: url(../images/icon/sys/up.gif) !important;
}
.icon-sys-upload {
	background-image: url(../images/icon/sys/upload.gif) !important;
}
.icon-sys-url {
	background-image: url(../images/icon/sys/url.png) !important;
}
.icon-sys-user {
	background-image: url(../images/icon/sys/user.gif) !important;
}
.icon-sys-windows {
	background-image: url(../images/icon/sys/windows.gif) !important;
}
.icon-sys-windows24 {
	background-image: url(../images/icon/sys/windows24.gif) !important;
}
