<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/application-context.xml</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>Mixky Office Online System</param-value>
	</context-param>


	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<!--
			<listener-class> com.mixky.setup.MixkyStartupListener
			</listener-class>
		-->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- DirectJNgine servlet -->
	<servlet>
		<servlet-name>MixkyDesignToolServlet</servlet-name>
		<servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>providersUrl</param-name>
			<param-value>/direct</param-value>
		</init-param>
		<init-param>
			<param-name>apis</param-name>
			<param-value>
				designtool
			</param-value>
		</init-param>
		<init-param>
			<param-name>designtool.apiNamespace</param-name>
			<param-value>Mixky.designtool</param-value>
		</init-param>
		<init-param>
			<param-name>designtool.apiFile</param-name>
			<param-value>designtool/api.js</param-value>
		</init-param>
		<init-param>
			<param-name>designtool.classes</param-name>
			<param-value>
				com.mixky.engine.common.MixkyLibDirect,
				com.mixky.engine.designtool.DesignToolDirect,
				com.mixky.engine.designtool.PatchDirect,
				com.mixky.engine.designtool.DesignObjectTemplateDirect,
				com.mixky.engine.designtool.DesignToolConfigurationDirect,
				com.mixky.engine.organization.OrganizationDirect,
				com.mixky.engine.desktop.DesktopDirect,
				com.mixky.engine.dictionary.DictionaryDirect,
				com.mixky.engine.designtool.FlowDesignerDirect
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MixkyDesignToolServlet</servlet-name>
		<url-pattern>/designtool/direct/*</url-pattern>
	</servlet-mapping>
	<!-- DirectJNgine servlet end-->
	<!-- DirectJNgine servlet -->
	<servlet>
		<servlet-name>MixkyServlet</servlet-name>
		<servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>providersUrl</param-name>
			<param-value>/direct</param-value>
		</init-param>
		<init-param>
			<param-name>apis</param-name>
			<param-value>
				mkoa
			</param-value>
		</init-param>
		<init-param>
			<param-name>mkoa.apiNamespace</param-name>
			<param-value>Mixky.mkoa</param-value>
		</init-param>
		<init-param>
			<param-name>mkoa.apiFile</param-name>
			<param-value>/resources/js/api.js</param-value>
		</init-param>
		<init-param>
			<param-name>mkoa.classes</param-name>
			<param-value>
				com.mixky.engine.common.MixkyLibDirect,
				com.mixky.engine.appdirect.OrganizationAppDirect,
				com.mixky.engine.appdirect.DesktopAppDirect,
				com.mixky.engine.appdirect.ModuleAppDirect,
				com.mixky.engine.appdirect.ViewAppDirect,
				com.mixky.engine.appdirect.DocumentAppDirect,
				com.mixky.engine.appdirect.FlowAppDirect,
				com.mixky.engine.designtool.FlowDesignerDirect,
				com.mixky.engine.common.MixkyFileDirect,
				com.mixky.app.mkoa.calendar.CalendarAppDirect,
				com.mixky.app.mkoa.gzzd.GzzdAppDirect,
				com.mixky.app.mkoa.notify.NotifyAppDirect,
				com.mixky.app.mkoa.addressbook.AddressBookAppDirect,
				com.mixky.app.mkoa.favorite.FavoriteAppDirect,
				com.mixky.app.mkoa.direct.MixkyAppDirect,
				com.mixky.app.mkoa.netfolder.AppFolderDirect,
				com.mixky.app.mkoa.knowledge.AppKnowledgeDirect,	
				com.mixky.app.mkoa.forum.AppForumDirect,	
				com.mixky.app.mkoa.finance.FinanceAppDirect,	
				com.mixky.app.mkoa.attendance.AttendanceAppDirect,	
				com.mixky.app.mkoa.mail.AppMailDirect,
				com.mixky.app.mkoa.ms.AppMsDirect,
				com.mixky.app.mkoa.worklog.WorklogAppDirect,
				com.mixky.app.mkoa.workreport.AppWorkReportDirect,
				com.mixky.app.mkoa.admin.AdminAppDirect,
				com.mixky.app.mkoa.personalrecords.PersonalRecordsAppDirect,
				com.mixky.app.mkoa.im.service.MessagerAppDirect,
				com.mixky.app.htxx.direct.HTXXAppDirect,
				com.mixky.app.mkoa.task.TaskAppDirect,
				com.mixky.app.mkoa.filesender.direct.FileSendDirect,
				com.mixky.app.bpc.score.ScoreAppDirect,
				com.mixky.app.bpcoa.project.BpcProjectAppDirect
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MixkyServlet</servlet-name>
		<url-pattern>/direct/*</url-pattern>
	</servlet-mapping>
	<!-- DirectJNgine servlet end-->
	<servlet>
		<servlet-name>mixky-system-start</servlet-name>
		<!--<servlet-class>com.mixky.system.LoadOnStart</servlet-class>-->
		<servlet-class>com.mixky.app.mkoa.system.ClientLoadOnStart</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring-jsp-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>mixky-system-icimage</servlet-name>
		<servlet-class>com.mixky.toolkit.IdentifyingCodeImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>filedownloadservlet</servlet-name>
		<servlet-class>com.mixky.engine.servlet.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileuploadservlet</servlet-name>
		<servlet-class>com.mixky.engine.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fileswfuploadservlet</servlet-name>
		<servlet-class>com.mixky.engine.servlet.FileSwfUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUpload2Folder</servlet-name>
		<servlet-class>com.mixky.engine.servlet.FileUpload2FolderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WallPaperUpload2Folder</servlet-name>
		<servlet-class>com.mixky.engine.servlet.WallPaperUpload2FolderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FolderFileUpload</servlet-name>
		<servlet-class>com.mixky.app.mkoa.netfolder.servlet.FolderFileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sysupload2specifytableservlet</servlet-name>
		<servlet-class>com.mixky.engine.servlet.FileUpload2SpecifyTableServlet</servlet-class>
	</servlet>	

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mixky-system-icimage</servlet-name>
		<url-pattern>/servlet/icode.img</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>filedownloadservlet</servlet-name>
		<url-pattern>/servlet/file.download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileuploadservlet</servlet-name>
		<url-pattern>/servlet/file.upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileswfuploadservlet</servlet-name>
		<url-pattern>/servlet/file.swf.upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<url-pattern>
			/dependences/fckeditor/editor/filemanager/connectors/*
		</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUpload2Folder</servlet-name>
		<url-pattern>/servlet/file.upload.to.folder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WallPaperUpload2Folder</servlet-name>
		<url-pattern>/servlet/wallpaper.img.upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderFileUpload</servlet-name>
		<url-pattern>/servlet/mkoa/netfolder/folderfile.upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sysupload2specifytableservlet</servlet-name>
		<url-pattern>/servlet/file.upload.to.specifytable</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddressBookImport</servlet-name>
		<servlet-class>com.mixky.app.mkoa.addressbook.AddressBookImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressBookImport</servlet-name>
		<url-pattern>/servlet/app/addressbook.import</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BpcProjectImport</servlet-name>
		<servlet-class>com.mixky.app.bpcoa.project.BpcProjectImport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BpcProjectImport</servlet-name>
		<url-pattern>/servlet/app/bpcproject.import</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AttendanceImport</servlet-name>
		<servlet-class>com.mixky.app.mkoa.attendance.AttendanceImport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceImport</servlet-name>
		<url-pattern>/servlet/app/attendance.import</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AttendanceMixkyImport</servlet-name>
		<servlet-class>com.mixky.app.mkoa.attendance.MixkyAttendanceImport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceMixkyImport</servlet-name>
		<url-pattern>/servlet/app/attendance.mixky.import</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ScoreMonthExport</servlet-name>
		<servlet-class>com.mixky.app.bpc.score.ScoreMonthExport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreMonthExport</servlet-name>
		<url-pattern>/servlet/app/scoreMonth.export</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScoreYearExport</servlet-name>
		<servlet-class>com.mixky.app.bpc.score.ScoreYearExport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreYearExport</servlet-name>
		<url-pattern>/servlet/app/scoreYear.export</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>

</web-app>
